
  
  .dark-mode {
    background-color: black;
    color: white;
  }



body
{
       margin: 0%;
       padding: 25px;
       background-color: white;
       color: black;
       font-size: 25px;
}
header
{
    background-color: rgb(255, 255, 255);
     
}
h1
{
    
    text-align: center;
    font-size: 4em ;
    
}
h2
{
    
    text-align: center;
    font-size: 2em ;
}
.card
{
    border-radius: 100px;
   display: flex;
    justify-content: center;
    

}
.imge
{
    border-radius: 100%;
    width: 30%;
}
h3
{
    text-align: center;
    font-size: 2em;
}
* {
    transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
  }
  .icon-bar {
    font-size: 1.5em;
    display: flex;
    gap: 4em;
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 0;
    margin: 0 3%;
  }
  .nav-contain {
    display: flex;
    align-items: center;
    gap: 15em;
  }
  .bouton-container {
    display: flex;
    align-items: center;
    font-size: 1.5em;
    gap: 3em;
  }
  nav a {
    text-decoration: none;
  }
  .bouton1 {
    border: solid 3px #ab96ff;
    border-radius: 10px;
    padding: 0.3em 1em;
  }
  .bouton2 {
    background-color: #ab96ff;
    border: solid 3px #ab96ff;
    color: white;
    border-radius: 10px;
    padding: 0.3em 1em;
  }
  .bouton1:hover {
    background-color: #ab96ff9c;
    transform: scale(0.9);
  }
  .bouton2:hover {
    opacity: 0.7;
    transform: scale(0.9);
  }
  .bouton3:hover {
    opacity: 0.7;
    transform: scale(0.9);
  }
  nav a:hover {
    transform: scale(1.2);
  }
  #info1
  {
    border: 9px solid blanchedalmond;
  }
  #info2
  {
    border: 9px solid rgb(205, 218, 255);

  }
  p
  {
    font-size: 5em;
  }
  .info
  {
    display: flex;
    justify-content: space-between;
    margin-right: 600px;
  }