* {
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

body {
  font-family: Arial, sans-serif;
  height: 100vh;
  margin: 0;
  background-color: #ffffff;
}

.contact-form {
  background-color: #2c2c2e;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  width: 600px;
}

.contact-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group span {
  color: red;
}

.name-fields {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.input-container {
  display: flex;
  flex-direction: column;
  width: 48%;
  margin-top: 10px;
}

.input-container label {
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
textarea {
  width: 100%;
  padding: 10px;
  margin: 0;
  border: none;
  border-radius: 5px;
  background-color: #3a3a3c;
  color: white;
  padding-right: 5px;

}

textarea {
  height: 100px;
  resize: none;
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #e91e63;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  opacity: 0.9;
}

.icon-bar {
  font-size: 1.5em;
  display: flex;
  gap: 4em;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 0;
  margin: 0 3%;
}

.nav-contain {
  display: flex;
  align-items: center;
  gap: 15em;
}

.bouton-container {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  gap: 3em;
}

nav a {
  text-decoration: none;
}

.bouton2 {
  background-color: #ab96ff;
  border: solid 3px #ab96ff;
  color: white;
  border-radius: 10px;
  padding: 0.3em 1em;
}

.bouton2:hover {
  opacity: 0.7;
  transform: scale(0.9);
}

.bouton3:hover {
  opacity: 0.7;
  transform: scale(0.9);
}

nav a:hover {
  transform: scale(1.2);
}

/* Dropdown Button */
.dropbtn {
  background-color: #e91e63;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
  max-height: 200px; /* Set the maximum height */
  overflow-y: auto; /* Add scroll if needed */
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}
.phone-container {
  display: flex;
  align-items: center; /* Pour aligner les éléments verticalement */
  gap: 10px; /* Pour ajouter un espacement entre les éléments */
}